{% load static %}
{% load feedback_tags %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>BBS</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />   
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/new_user_info.css">
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <link rel="shortcut icon" href="/static/img/UIBE.ico" type="image/x-icon" />
</head>
<body>
    <div class="container" style="padding-top: 5vh;">
        {% if user.is_authenticated %}
        <!-- 个人信息，修改昵称，修改密码 -->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-sx-12">
                <ul class="list-group">
                    <li class="list-group-item">昵称：{{user.get_nickname}}</li>
                    <li class="list-group-item">邮箱：{{user.email}}</li>
                    <li class="list-group-item">角色：
                            {% if user.custom_user.is_UIBEr %}
                                普通用户
                            {% else %}
                                未激活用户
                            {%endif%}
                    </li>
                    <li class="list-group-item">
                        <a href="{% url 'change_userinfo' %}?from={{request.get_full_path}}">
                        修改个人资料
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6 col-sm-6 col-sx-12">
                <ul class="list-group">
                    <li class="list-group-item">上一次登录时间:{{user.last_login|date:"Y-m-d H:i:s"}}</li>
                    <li class="list-group-item">IP地址：{{ip}}</li>
                    <li class="list-group-item">
                        <a href="{% url 'change_password' %}?from={{request.get_full_path}}">修改密码</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <!-- 帖子记录，回帖及评论记录，及删查操作 -->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-sx-12">
                <div class="list-group" id="tiezi_list">
                    <a href="{% url 'manage_tiezi'%}?from{{request.get_full_path}}" class="list-group-item list-group-item-info" id="my_tiezi">我的帖子</a>
                    {% for tiezi in tiezi_list_top5 %}
                    <a href="{% url 'tiezi_detail' tiezi.id %}" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            {{tiezi.title |striptags|safe|truncatechars:30|linebreaks}}
                        </h4>
                        <span class="badge">{{tiezi.get_read_num}}</span>
                    </a>
                    {% empty %}
                    <li class="list-group-item">你没有发过帖子</li>
                    {% endfor %}
                </div>
            </div> 
            <div class="col-md-6 col-sm-6 col-sx-12">
                <div class="list-group" id="comment_list">
                    <a href="{% url 'manage_comment'%}?from{{request.get_full_path}}" class="list-group-item list-group-item-success">曾经回过的帖子</a>
                    {% for tiezi in join_tiezi %}
                    <a href="{% url 'tiezi_detail' tiezi.id %}" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            {{tiezi.title |striptags|safe|truncatechars:30|linebreaks}}
                            <p style="color: grey;font-size:0.6em;position: absolute;top: 50%;right: 5%">发帖人:&nbsp;{{tiezi.author}}</p>
                        </h4>   
                    </a>
                    {% empty %}
                    <li class="list-group-item">你没有回过帖子</li>
                    {% endfor %}
                </div>
            </div>
        </div>
        <hr>
        <!-- 关注的用户，收藏的帖子，及增删查操作 -->
        <div class="row">
            <div class="col-md-6 col-sm-6 col-sx-12">
                <ul class="list-group" id="heart_user_list">
                    <a href="{% url 'manage_heart_user'%}?from{{request.get_full_path}}" class="list-group-item list-group-item-danger" id="my_heart_user">关注他人</a>
                    {% for heart_user in heart_user_list_top5 %}
                    <li class="list-group-item">
                        <h4 class="list-group-item-heading">
                            {% if heart_user.content_object.custome_user.nickname %}
                                {{heart_user.content_object.custom_user.nickname }}
                            {% else %}
                                用户:{{heart_user.content_object.username }}
                            {% endif %}
                        </h4>
                        <!-- <a class="btn btn-primary" style="position: absolute;right: 11%;top: 11%;">私信</a> -->
                    </li>
                    {% empty %}
                    <li class="list-group-item">你没有关注任何人</li>
                    {% endfor %}
                </ul>
            </div>  
            <div class="col-md-6 col-sm-6 col-sx-12">
                <div class="list-group" id="favor_tiezi_list">
                    <a href="{% url 'manage_favor_tiezi'%}?from{{request.get_full_path}}" class="list-group-item list-group-item-warning">收藏的帖子</a>
                    {% for favor_tiezi in favor_tiezi_list_top5 %}
                    <a href="{% url 'tiezi_detail' favor_tiezi.content_object.id %}" class="list-group-item">
                        <h4 class="list-group-item-heading">
                            {{favor_tiezi.content_object.title |striptags|safe|truncatechars:30|linebreaks}}
                            <p style="color: grey;font-size:0.6em;position: absolute;top: 50%;right: 5%">发帖人:&nbsp;{{favor_tiezi.content_object.author}}</p>
                        </h4>   
                    </a>
                    {% empty %}
                    <li class="list-group-item">你没有收藏任何帖子</li>
                    {% endfor %}
                </div>
            </div>
        </div>
            <!-- 发帖区域 -->
            {% if user.custom_user.is_UIBEr %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-sx-10 col-sx-offset-1">
                    <hr>
                    <h2 style="text-align: center;">自己发帖子</h2>
                    <form id="tiezi_form" action="{% url 'update_tiezi' %}" method="POST" style="overflow:hidden" name="tiezi"> 
                        <input type="hidden" name='author' value="{{user}}">
                        {% csrf_token %}
                        {% for field in tiezi_form %}
                            <div class="form-group {{ field.id_for_label }}">
                                <label for="{{ field.id_for_label }}">
                                    {{ field.label }}
                                </label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <span id="tiezi_error" class="text-danger pull-left"></span>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="发帖">
                    </form>
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-sx-10 col-sx-offset-1">
                    <hr>
                    <h4 style="text-align: center;">账号经认证后才可以评论</h4>
                    <p>联系管理员提供相关认证材料</p>
                    <p>管理员邮箱：201701056@uibe.edu.cn</p>
                    <p>管理员微信：CBX_2323</p>  
                </div>
            </div>
            {% endif %}
        
        {%else%}
        <div class="row">
            <div class="col-xs-9 col-sm-9 col-md-9">
                <h1>你怎么进来的？你登录了吗？滚！</h1>
                <img src="/static/img/fuckoff.jpg" alt="">
                    <script type="text/javascript">
                        function gun(){
                            window.location.href = '/';
                        }
                        setTimeout("gun()",2000 );
                    </script>
                </div>
            </div>
        {% endif %}
    </div>
    <script type="text/javascript">
        
    </script>
</body>
</html>